.edgeClickMenu {
    color: red;
    z-index: 200;
    background-color: white;
}
/* 
.menu-item {
    color: red;
    z-index: 800;
    background-color: white;
} */

.menu {
    position: sticky;
    color: white;
    z-index: 800;
    background-color: rgb(43, 43, 43);
    width:30vh;
}

.textField {
    color : white;
    background-color: black;
    justify-self: right;
}